body {
  text-align: center;
}

.titles{
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    h2 {
        font-style: italic;
    }
}



#score {
    font-weight: bold;
    margin-bottom: 5vh;
}e

.row {
    font-size: 20px;
}


.column {
  float: left;
  width: 33.33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}